<div class="container">
  <h1>Ngx-viewed</h1>
  <div
    class="block"
    [ngClass]="{shown: blocks[0].visible, hidden: !blocks[0].visible, viewed: blocks[0].viewed}"
    ngxViewedWatcher
    [timeToViewed]="20000"
    [visiblePercent]="0.3"
    (ngxViewedTick)="blocks[0].tick = $event"
    (ngxViewedShown)="blocks[0].visible = true"
    (ngxViewedHidden)="blocks[0].visible = false"
    (ngxViewedViewed)="blocks[0].viewed = true"
  >
    <p>The ngx-viewed for angular library allows you to add social functionality to your app.</p>
    <p>In the era of social networks, a huge flow of information and applications with infinite scrolling, it is
      important to track how your users view information in your application.</p>
    <p>It can be posts of your users, comments, news, advertisements or even photos as in instagram.</p>
    <p *ngIf="!blocks[0].viewed">
      You've been looking at this text for {{blocks[0].tick?.time/1000}} sec.
    </p>
    <p *ngIf="blocks[0].viewed">
      You watched this text for more than {{blocks[0].tick?.time/1000}} sec.
    </p>
  </div>
  <div
    class="block"
    [ngClass]="{shown: blocks[1].visible, hidden: !blocks[1].visible, viewed: blocks[1].viewed}"
    ngxViewedWatcher
    [timeToViewed]="3000"
    (ngxViewedShown)="blocks[1].visible = true"
    (ngxViewedHidden)="blocks[1].visible = false"
    (ngxViewedViewed)="blocks[1].viewed = true"
  >
    <p>Ngx-viewed library allows you to "spy" on your users.</p>
    <p>If the border of this block is green, this means that the application recorded that you watched this block for
      more than 3 seconds.</p>
  </div>
  <div
    class="block"
    [ngClass]="{shown: blocks[2].visible, hidden: !blocks[2].visible, viewed: blocks[2].viewed}"
    ngxViewedWatcher
    [timeToViewed]="5000"
    (ngxViewedShown)="blocks[2].visible = true"
    (ngxViewedHidden)="blocks[2].visible = false"
    (ngxViewedViewed)="blocks[2].viewed = true"
  >
    <p>You can specify how much block area should be displayed on the screen to the library thought that a user is
      watching this block.</p>
  </div>
  <div
    class="block"
    [ngClass]="{shown: blocks[3].visible, hidden: !blocks[3].visible, viewed: blocks[3].viewed}"
    ngxViewedWatcher
    [timeToViewed]="30000"
    [visiblePercent]="0"
    (ngxViewedShown)="blocks[3].visible = true"
    (ngxViewedHidden)="blocks[3].visible = false"
    (ngxViewedViewed)="blocks[3].viewed = true"
  >
    <p>If at least 1 pixel is on the screen, this means the user sees this block.</p>
  </div>
  <div
    class="block"
    [ngClass]="{shown: blocks[4].visible, hidden: !blocks[4].visible, viewed: blocks[4].viewed}"
    ngxViewedWatcher
    [timeToViewed]="30000"
    [visiblePercent]="1"
    (ngxViewedShown)="blocks[4].visible = true"
    (ngxViewedHidden)="blocks[4].visible = false"
    (ngxViewedViewed)="blocks[4].viewed = true"
  >
    <p>If at least 1 pixel is off the screen, this means the user does not see this block.</p>
  </div>

  <div
    class="block"
    ngxViewedWatcher
    [ngClass]="{shown: blocks[5].visible, hidden: !blocks[5].visible, viewed: blocks[5].viewed}"
    [timeToViewed]="30000"
    [visiblePercent]="1"
    (ngxViewedShown)="blocks[5].visible = true"
    (ngxViewedHidden)="blocks[5].visible = false"
    (ngxViewedViewed)="blocks[5].viewed = true"
  >
    <p>Wait, wait... What about the cases when the block does not fit on the screen?</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>It's not a problem. When the block is larger than the screen, ngx-viewed library will work when the block
      occupies the entire screen.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
  </div>
  <div
    class="block"
    style="border: 0;"
  >
    <p>And if content in block with scroll?</p>
    <div class="scroll-block" ngxViewedContainer>
      <div
        ngxViewedContainerWatcher
        style="margin-bottom: 2rem;"
        [ngClass]="{shown: blocks[6].visible, hidden: !blocks[6].visible, viewed: blocks[6].viewed}"
        [timeToViewed]="3000"
        (ngxViewedShown)="blocks[6].visible = true"
        (ngxViewedHidden)="blocks[6].visible = false"
        (ngxViewedViewed)="blocks[6].viewed = true"
      >
        <p>Post 1</p>
      </div>
      <div
        ngxViewedContainerWatcher
        style="margin-bottom: 2rem;"
        [ngClass]="{shown: blocks[7].visible, hidden: !blocks[7].visible, viewed: blocks[7].viewed}"
        [timeToViewed]="3000"
        (ngxViewedShown)="blocks[7].visible = true"
        (ngxViewedHidden)="blocks[7].visible = false"
        (ngxViewedViewed)="blocks[7].viewed = true"
      >
        <p>Post 2</p>
      </div>
      <div
        ngxViewedContainerWatcher
        style="margin-bottom: 2rem;"
        [ngClass]="{shown: blocks[8].visible, hidden: !blocks[8].visible, viewed: blocks[8].viewed}"
        [timeToViewed]="3000"
        (ngxViewedShown)="blocks[8].visible = true"
        (ngxViewedHidden)="blocks[8].visible = false"
        (ngxViewedViewed)="blocks[8].viewed = true"
      >
        <p>Post 3</p>
      </div>
      <div
        ngxViewedContainerWatcher
        style="margin-bottom: 2rem;"
        [ngClass]="{shown: blocks[9].visible, hidden: !blocks[9].visible, viewed: blocks[9].viewed}"
        [timeToViewed]="7000"
        (ngxViewedShown)="blocks[9].visible = true"
        (ngxViewedHidden)="blocks[9].visible = false"
        (ngxViewedViewed)="blocks[9].viewed = true"
      >
        <p>A very</p>
        <p>long</p>
        <p>post</p>
        <p>that</p>
        <p>is</p>
        <p>longer</p>
        <p>than</p>
        <p>the parent.</p>
      </div>
    </div>
  </div>
</div>
